*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

a{
    list-style-type: none;
    text-decoration: none;
}

body{
    text-align: center;
    background-color: aliceblue;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
}
.card{
    width: 300px;
    height: 450px;
    margin-top: 80px;
    border-radius: 10px solid;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0px 12px 13px orangered;
}

.img{
    width:220px;
    height:290px;
    margin-left:50px;

}
.logo{
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    margin-left: 50px;
    text-transform: uppercase;
}

.title{
    font-family: sans-serif;
    font-size: 18px;
    color: black;
    text-align: center;
    margin-left:110px;
}

.button{
    width:200%;
    padding-left:100px;
    padding-right:100px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: brown;
    border-radius: 18px;
    border: 1px solid gray;
    margin-top:10px;
    margin-left:5px;
    text-decoration: none;
    list-style-type: none;
    color: bisque;
    cursor: pointer;
}


